# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# IDEs e editores
.vscode/
.idea/

# Distribuição / build
build/
dist/
*.egg-info/

# Data files - arquivos grandes de dados
*.csv
*.parquet
*.xlsx
*.xls
data/
datasets/

# Model files
*.pkl
*.pickle
*.joblib
*.h5
*.pb